body {
  text-align: center;
  background: #3fb8ff;
  font-family: sans-serif;
}

h1 {
  color: #fff;
  text-transform: uppercase;
}

.quote,
.author {
  color: #fff;
  font-style: italic;
  font-weight: lighter;
}

.tweet {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

.tweet:hover {
  color: #fff;
}

.trigger {
  padding: 20px;
  display: block;
  margin: 10px auto;
  text-transform: uppercase;
}