body {
  text-align: center;
  background: rgb(63, 184, 255);
  font-family: sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.quote,
.author {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: lighter;
}

.tweet {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

.trigger {
  padding: 20px;
  display: block;
  margin: 10px auto;
  text-transform: uppercase;
}