body {
  text-align: center;
  background-color: rgb(170, 209, 96);
  font-family: sans-serif;
}

h1 {
  color: rgb(78, 75, 75);
  text-transform: uppercase;
}

.quote,
.author {
  color: rgb(189, 15, 15);
  font-style: italic;
  font-weight: lighter;
}

.tweet {
  text-decoration: none;
  color: rgb(29, 161, 242);
  font-size: 40px;
  &:hover {
    color: rgb(63, 184, 255);
  }
}

.trigger {
  padding: 20px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  text-transform: uppercase;
}